<?xml version="1.0"?>
<config>
    <modules>
        <DigitalDataLayer>
            <version>0.1.0</version>
        </DigitalDataLayer>
    </modules>

    <global>
        <models>
            <digital_data_layer_main>
                <class>DigitalDataLayer_Model</class>
            </digital_data_layer_main>
        </models>
        <helpers>
            <digital_data_layer_main>
                <class>DigitalDataLayer_Helper</class>
            </digital_data_layer_main>
        </helpers>
        <blocks>
            <digital_data_layer_main>
                <class>DigitalDataLayer_Block</class>
            </digital_data_layer_main>
        </blocks>
    </global>
    
    <frontend>
        <layout>
            <updates>
                <digitaldatalayer>
                    <file>digitaldatalayer/default.xml</file>
                </digitaldatalayer>
            </updates>
        </layout>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <DigitalDataLayer_Model_Page_Observer>
                        <type>singleton</type>
                        <class>digital_data_layer_main/page_observer</class>
                        <method>setDigitalDataLayer</method>
                    </DigitalDataLayer_Model_Page_Observer>
                </observers>
            </controller_action_layout_load_before>
            <sales_quote_save_after>
                <observers>
                    <digital_data_layer>
                        <class>digital_data_layer_main/observer</class>
                        <method>registerQuoteChange</method>
                    </digital_data_layer>
                </observers>
            </sales_quote_save_after>
        </events>
    </frontend>
    
    <!-- Admin Configuration Default Values -->
    <default>
        <digital_data_layer>
            <enabled>1</enabled>
            <debug_enabled>0</debug_enabled>
            <user_group_enabled>0</user_group_enabled>
            <attributes_enabled></attributes_enabled>
	        <stock_exposure>0</stock_exposure>
	        <prod_list_exposure>0</prod_list_exposure>
        </digital_data_layer>
    </default>
</config>
